<div id="jobs">

<%=render 'layouts/search'%>
<%=render 'layouts/categories'%>
<br>
<% if @jobs.length == 0 %>
<div class="empty">
<br/>
<h2>There are currently no jobs in this category</h2>
</div>
<% end %>
    <% @jobs.each do |job| %>
    <div class="jobContainer">
    <div id="img">
    <% if job.images_url %>
    <%= link_to (image_tag job.images_url(:thumb)), job %>
    <% else %>
    <%= image_tag("/assets/imgholder.jpg", alt:"Image placeholder", style: 'height:200px;width:200px;') %>
    <% end %> 
    </div>
    <p class="text"><%= job.category %></p><p class="text"> <%= job.country %></p>
        <%= link_to (job.title), job, class: "jobsTitle" %>
        <p><%= truncate(strip_tags(job.description.to_s), length: 300) %></p>
        <br>
        <br>      
        <div class="jobOption">   
        <% if (!user_signed_in?)  %>
        <%= link_to "Apply", job_job_applications_path(job_id: job.id), :method => 'post',  :id => "button", :role => "button"  %>
         <% elsif applied_to_this_job(job) %>   
        <div class="applied" >Applied ✓</div>
         <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: job.user.id), method: 'post',  :id => "button", :role => "button"  %>
        <% elsif ((user_is_admin) || (user_is_candidate) || (!applied_to_this_job(job))) %>
          <%= link_to "Apply", job_job_applications_path(job_id: job.id, sender_id: current_user.id, recipient_id: job.user.id), :method => :post, :id => "button", :role => "button"  %>
        <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: job.user.id), method: 'post',  :id => "button", :role => "button"  %>
        <% elsif ((user_is_admin) || (user_is_owner(job))) %>
        <%= link_to 'View Applications', job_job_applications_path(job_id: job.id), :id => "button", :role => "button"  %>
        <% end %>
  </div>
    </div>
    <% end %>
    <div class="paginate">
    <%= paginate @jobs %>
    </div>
    <% if ((user_is_admin) || (user_is_host)) %>
<%= link_to 'New Job', new_job_path, :class =>"button", :role=>"button" %>
<% end %>
</div>