<div class="slideshow-container">

  <!-- Slideshow -->
  <div class="mySlides fade">
  <div id="img">
    <%= image_tag ("hotel.jpeg"), style: 'width:100%;height:30vw;' %>
    </div>
    <div class="centered">Discover your next journey </div>
    <div class="centered-button"><%= link_to "Discover", "/jobs" %></div>
  </div>

  <div class="mySlides fade">
   <div id="img">
     <%= image_tag ("Cafe.jpeg"), style: 'width:100%;height:30vw;'%>
   </div>
     <div class="centered">Discover your next journey</div>
     <div class="centered-button"><%= link_to "Discover", "/jobs" %></div>
  </div>

  <div class="mySlides fade">
   <div id="img">
     <%= image_tag ("cocktail1.jpeg"), style: 'width:100%;height:30vw;' %>
     </div>
     <div class="centered">Discover your next journey</div>
     <div class="centered-button"><%= link_to "Discover", "/jobs" %></div>
  </div>

  <div class="mySlides fade">
   <div id="img">
     <%= image_tag ("kitchen.jpeg"),style: 'width:100%;height:30vw;' %>
     </div>
     <div class="centered">Discover your next journey</div>
     <div class="centered-button"><%= link_to "Discover", "/jobs" %></div>
  </div>

</div>
<%=render 'layouts/categories'%>
<br>

<%= javascript_pack_tag 'application'%>