<%= form_for @job do |f| %>
<div class="forms">
  <div class="field">
    <%= f.label :title %>
        <br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
   <%= f.label :image %>
 <br>
        <%= f.file_field :images %>
    <% if f.object.images? %>
      <%= image_tag f.object.images.thumb.url %>
      <%= f.label "Remove Image" %>
      <%= f.check_box :remove_images %> 
    <% end %>
    </div>
  <div class="field">
    <%= f.label :country %>
    <br>
    <%= f.country_select :country, { include_blank: 'Select a country' } %>
  </div>

  <div class="field">
      <%= f.label :category %>
    <br>
   <%= f.select :category, ['Select Category','Bar','Floor', 'Kitchen', 'Cafe'] %>
  </div>
</div>
<div class = "rich">
  <div class="field">
    <%= f.label :description %>
        <br>
    <%= f.rich_text_area :description  %>
  </div>
  </div>
<br>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
