<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.country_select :country, { include_blank: 'Select a country' } %>
  </div>

  <div class="field">
   <%= form.select :category, ['Bar','Floor', 'Kitchen', 'Cafe'] %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description  %>
  </div>
<br>
        <%= form.file_field :images %>
    <% if form.object.images? %>
      <%= image_tag form.object.images.thumb.url %>
      <%= form.label "Remove Image" %>
      <%= form.check_box :remove_images %> 
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
