<%= form_with(model: job) do |form| %>
<div class="forms">
  <div class="field">
    <%= form.label :title %>
        <br>
    <%= form.text_field :title %>
  </div>
  <div class="field">
   <%= form.label :image %>
 <br>
        <%= form.file_field :images %>
    <% if form.object.images? %>
      <%= image_tag form.object.images.thumb.url %>
      <%= form.label "Remove Image" %>
      <%= form.check_box :remove_images %> 
    <% end %>
    </div>
  <div class="field">
    <%= form.label :country %>
    <br>
    <%= form.country_select :country, { include_blank: 'Select a country' } %>
  </div>

  <div class="field">
      <%= form.label :category %>
    <br>
   <%= form.select :category, ['Select Category','Bar','Floor', 'Kitchen', 'Cafe'] %>
  </div>
</div>
<div class = "rich">
  <div class="field">
    <%= form.label :description %>
        <br>
    <%= form.rich_text_area :description  %>
  </div>
  </div>
<br>
    <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
