<div id="jobs">

<%=render 'layouts/search'%>
<%=render 'layouts/categories'%>
<br>
    <% @jobs.each do |job| %>
    <div class="jobContainer">
    <div id="img">
    <% if job.images_url %>
    <%= link_to (image_tag job.images_url(:thumb)), job %>
    <% else %>
    <%= image_tag("/assets/imgholder.jpg", alt:"Image placeholder", style: 'height:200px;width:200px;') %>
    <% end %> 
    </div>
    <p class="text"><%= job.category %></p><p class="text"> <%= job.country %></p>
        <%= link_to (job.title), job, class: "jobsTitle" %>
        <p><%= truncate(job.description,:ommision => "... Read More", :length => 300) %></p>
        <br>
        <br>      
        <div id="jobOption">   
        <% if ((user_is_admin) || (user_is_candidate)) %>
          <%= link_to "Apply", job_job_applications_path(job_id: job.id, sender_id: current_user.id, recipient_id: job.user.id), :method => 'post',  :class => "button", :role => "button"  %>
        <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: job.user.id), method: 'post',  :class => "button", :role => "button"  %>
        <%= link_to 'View Applications', job_job_applications_path(job_id: job.id),  :class => "button", :role => "button"  %>
        <% end %>
  </div>
    </div>
    <% end %>
    <div class="paginate">
    <%= paginate @jobs %>
    </div>
    <% if ((user_is_admin) || (user_is_host)) %>
<%= link_to 'New Job', new_job_path, :class =>"button", :role=>"button" %>
<% end %>
</div>