<div class="showJob">
<br>
    <h1><%= @job.title %></h1>
  <div id="img">
        <% if @job.images_url %>
    <%= image_tag @job.images_url(:default) %>
        <% else %>
    <%= image_tag("/assets/imgholder.jpg", alt:"Image placeholder", style: 'height:600px;width:800px;') %>
    <% end %> 
    </div>
<p>
  <div class="profiletext">
  <hr>
  <strong>Country:</strong>
  <%= @job.country %>
</p>
<hr>
</div>
<p>
  <div class="profiletext">
  <strong>Category:</strong>
  <%= @job.category %>
</p>
<hr>
</div>
<p>
  <div class="profiletext">
  <strong>Description:</strong><br>
  <%= @job.description %>
</p>
<hr>
</div>
  <div class="profiletext">
<p>
  <strong>Owner:</strong>
  <%= @job.user.name %>
</p>
<hr>
</div>
 <% if ((user_is_admin) || (user_is_candidate)) %>
  <%= link_to "Message", conversations_path(sender_id: current_user.id, recipient_id: @job.user.id), method: 'post',  :class => "button", :role => "button"  %>
  <%= link_to "Apply", job_applications_path(applicant_id: current_user.id), :method => 'post',  :class => "button", :role => "button"  %>
<% end %>
<% if ((user_is_admin) || (user_is_owner)) %>
<%= link_to 'Edit', edit_job_path(@job),  :class => "button", :role => "button"  %>
 <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
 <% end %>
 <%= link_to 'Back', jobs_path,  :class => "button", :role => "button"  %>
</div>
</div>