
       <% if ((user_is_admin) || (user_is_candidate)) %>
       <h2> Applications </h2>
          <% if @job_applications.blank? %>
            <h3>No applications just yet, would you like to add the first!</h3>
        <% else %>
        <div class = "reviews">
       <% @job_applications.each do |job_application| %>
           <h3>  <%= job_application.job.title %></h3>
            <%= image_tag job_application.job.images_url(:thumb)%><br>
              <%= link_to job_application.applicant.name, job_application.job.user %><br>
               <%= link_to 'Message', new_conversation_path(sender_id: job_application.job.user_id, recipient_id: job_application.applicant_id), method: "post", :class => "button", :role => "button" %>
               <%= create_review_path(@review, current_user) %>
         <% end %>     
         <% end %>
         <% end %>
           </div>