        <% if ((user_is_admin) || (user_is_candidate)) %>
        <div class = "applications">
       <% @job_applications.each do |job_application| %>
   <h3><p><%= job_application.applicant_id %></p></h3>
                 <h3>  <%= job_application.id %></h3>
           <h3>  <%= job_application.job.title %></h3>
              <h3><p><%= job_application.applicant.name %></p></h3>
              <%= link_to 'View', job_application.job.user, :class => "button", :role => "button" %>
              <%= link_to 'Message', new_conversation_path(sender_id: job_application.job.user_id, recipient_id: job_application.applicant_id), method: "post", :class => "button", :role => "button" %>
               <%= link_to "Write Review", new_user_review_path(job_application.job.user), :class => "button", :role => "button" %>
              </div>  
              </div>
         <% end %>
         <% end %>