 <% if ((user_is_admin) || (user_is_candidate)) %>
 <div class=profileMain>
    <h2> Applications </h2>
      <% if @job_applications.blank? %>
            <h3>No applications just yet, would you like to add the first!</h3>
        <% else %>
        <div class = "reviews">
       <% @job_applications.each do |job_application| %>
           <h3>  <%= job_application.job.title %></h3>
                <% if job_application.job.images_url %>
                  <%= link_to (image_tag job_application.job.images_url(:thumb)), job_application.job %><br>
                <% else %>
                  <%= link_to (image_tag("/assets/imgholder.jpg", alt:"Image placeholder", style: 'height:200px;width:200px;')), job_application.job %>
                  <br>
                 <% end %> 
                 <br>
                  <%= link_to job_application.job.user.name, job_application.job.user %><br>
                  <%= link_to 'Message', new_conversation_path(sender_id: job_application.job.user_id, recipient_id: job_application.applicant_id), method: "get", :class => "button", :role => "button" %>
                  <%= link_to "Write Review", new_user_review_path(job_application.job.user), :class => "button", :role => "button" %>
         <% end %>     
         <% end %>
         <% end %>
           </div>