          <% if ((user_is_admin) || (user_is_host)) %>
          <h2> Jobs </h2>
          <% if @jobs.blank? %>
          <h3>No jobs just yet, would you like to add the first!</h3>
        <% else %>
         <% @jobs.each do |job| %>
           <div class ="applications">
        <p> <%= link_to (job.title), job %></p>
     <% if job.images_url %>
    <%= link_to (image_tag job.images_url(:thumb)), job %>
    <% else %>
    <%= image_tag("/assets/imgholder.jpg", alt:"Image placeholder", style: 'height:200px;width:200px;') %>
    <% end %> 
      <p>  <%= link_to 'View Applicants', job_job_applications_path(job_id: job.id), :class => "button", :role => "button"  %> </p>
        <br>
             </div>
        <% end %>
        <% end %>
    <div class="paginate">
    <%= paginate @jobs %>
    <% end %>
    </div>
