<div class="profile">
<div class="profilepic">
<h1><%= @user.name %></h1>

<% if @user.images_url %>
 <%= image_tag @user.images_url(:thumb) %>
<% else %>
<%= image_tag("/assets/blank-profile-picture.png", alt:"ProfilePic", style: 'height:200px;width:200px;') %>
 <% end %>
 <br>
 <% if (user_profile) %>
  <%= link_to "Edit", edit_registration_path(@user), :class => "button", :role => "button" %>
  <% end %>
 </div>
<br>
<br>
<br>
  <div class="profiletext">
<p><b> Rating:</b> <br>
<br><%= @avg_rating %></p>
<div class="star-rating-show" data-score= <%= @avg_rating %> ></div>

 <hr>
 </div>
  <div class="profiletext">
<p><b> Email:</b> <br><%= @user.email %></p>
 <hr>
 </div>
  <div class="profiletext">
<%if @user.country.nil? %>
<p><b> Country:</b><br> Please edit profile to add country</p>
<% else %>
<p><b>Country:</b> <br> <%= @user.country %></p>
<% end %>
 <hr>
</div>
  <div class="profiletext">
<%if @user.bio.nil? %>
<p><b>Bio:</b><br>Please edit profile to add your skills</p>
<% else %>
<p><b>Bio:</b><br> <%= @user.bio %></p>
<% end %>
 <hr>
   </div>
 <br>
 <p><%= link_to "View CV", asset_path(@user.file) %></p>
 <br>
   <%= render 'users/reviews'  %>
   <br>
 <% if (user_profile) %>
<br>
<div class="applications">
 <%= render 'users/applications'  %>
  <%= render 'users/jobs'  %>
   <% if ((user_is_admin) || (user_is_host)) %>
<%= link_to 'New Job', new_job_path, :class =>"button", :role=>"button" %>
  </div>
<% end %>
<% end %>
</div>
