
<div class="profile">
<h1><%= @user.name %></h1>
<div class="profilepic">
<br>
<% if @user.images_url %>
 <%= image_tag @user.images_url(:pic) %>
<% else %>
<%= image_tag("/assets/blank-profile-picture.png", alt:"ProfilePic", style: 'height:200px;width:200;') %>
 <% end %>
 </div>
<br>
  <div class="profiletext">
<p><b> Email:</b> <br><%= @user.email %></p>
 <hr>
 </div>
  <div class="profiletext">
<%if @user.country.nil? %>
<p>Please edit profile to add country</p>
<% else %>
<p><b>From:</b> <br> <%= @user.country %></p>
<% end %>
 <hr>
</div>
  <div class="profiletext">
<%if @user.bio.nil? %>
<p>Please edit profile to add your skills</p>
<% else %>
<p><b>Bio:</b><br> <%= @user.bio %></p>
<% end %>
 <hr>
   </div>
 <br>
 <p><%= link_to "View CV", asset_path(@user.file) %></p>
 <br>
 <%= link_to "Edit", edit_registration_path(@user), :class => "button", :role => "button" %>

 <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_user_review_path(@user), class: "btn btn-danger" %>
        <% else %>
        
          <% @reviews.each do |review| %>
       
            <div class="reviews">
             <% review.rating.to_i.times do  %>
            <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% review.blank_stars.to_i.times do %>
           <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
              <%# Bootstrap has built in glyphicons that can help us accomplish this.%>

            <h3><p>"<%= review.comment %>"</p></h3>
              <%# <p><%= review.user.username %>  
              <h5>Posted by: <%= link_to "#{review.reviewer.name}", user_reviews_path(:user, review) %></h5>
              </div>
<% end %>
      <% end %>

 </div>
</div>