<div class="profile">
<h1><%= @user.name %></h1>
<div class="profilepic">
<br>
<% if @user.images_url %>
 <%= image_tag @user.images_url(:pic) %>
<% else %>
<%= image_tag("/assets/blank-profile-picture.png", alt:"ProfilePic", style: 'height:200px;width:200;') %>
 <% end %>
 </div>
<br>
  <div class="profiletext">
<p><b> Rating:</b> <br><%= @avg_rating %></p>
 <hr>
 </div>
  <div class="profiletext">
<p><b> Email:</b> <br><%= @user.email %></p>
 <hr>
 </div>
  <div class="profiletext">
<%if @user.country.nil? %>
<p>Please edit profile to add country</p>
<% else %>
<p><b>From:</b> <br> <%= @user.country %></p>
<% end %>
 <hr>
</div>
  <div class="profiletext">
<%if @user.bio.nil? %>
<p>Please edit profile to add your skills</p>
<% else %>
<p><b>Bio:</b><br> <%= @user.bio %></p>
<% end %>
 <hr>
   </div>
 <br>
 <p><%= link_to "View CV", asset_path(@user.file) %></p>
 <br>
 <%= link_to "Edit", edit_registration_path(@user), :class => "button", :role => "button" %>
<br>

<h2> Reviews </h2>
 <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_user_review_path(@user), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
                 <div id="reviews">
           <h3>  <%= review.rating %>/5</h3>
            <h3><p>"<%= review.comment %>"</p></h3>
              <h5>Posted by: <%= link_to "#{review.reviewer.name}", user_reviews_path(:user, review) %></h5>
                  </div>      
          <% end %>
              <div class="paginate">
    <%= paginate @reviews %>
    </div>
      <% end %>
      <br>
        <% if ((user_is_admin) || (user_is_candidate)) %>
        <div class = "applications">
       <% @job_applications.each do |job_application| %>
   <h3><p><%= job_application.applicant_id %></p></h3>
                 <h3>  <%= job_application.id %></h3>
           <h3>  <%= job_application.job.title %></h3>
              <h3><p><%= job_application.applicant.name %></p></h3>
              <%= link_to 'View', job_application.job.user, :class => "button", :role => "button" %>
              <%= link_to 'Message', new_conversation_path(sender_id: job_application.job.user_id, recipient_id: job_application.applicant_id), method: "post", :class => "button", :role => "button" %>
               <%= link_to "Write Review", new_user_review_path(job_application.job.user), :class => "button", :role => "button" %>
              </div>  
              </div>
         <% end %>
         <% end %>
          <% if ((user_is_admin) || (user_is_host)) %>
          <h1> Jobs </h1>
         <% @jobs.each do |job| %>
          <div class ="applications">
        <p> <%= link_to (job.title), job %></p>


     <% if job.images_url %>
    <%= link_to (image_tag job.images_url(:thumb)), job %>
    <% else %>
    <%= image_tag("/assets/imgholder.jpg", alt:"Image placeholder", style: 'height:200px;width:200px;') %>
    <% end %> 
      <p>  <%= link_to 'View Applicants', job_job_applications_path(job_id: job.id), :class => "button", :role => "button"  %> </p>
        <br>
         </div>
        <% end %>
    <div class="paginate">
    <%= paginate @jobs %>
    </div>
    <% end %>
       </div>
   <% if ((user_is_admin) || (user_is_host)) %>
<%= link_to 'New Job', new_job_path, :class =>"button", :role=>"button" %>
<% end %>
</div>