<p id="notice"><%= notice %></p>

<h1>Job Applications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.title %></td>
        <td><%= job_application.country %></td>
        <td><%= job_application.category %></td>
        <td><%= job_application.duration %></td>
        <td><%= job_application.description %></td>
        <td><%= job_application.user_id %></td>
        <td><%= link_to 'Show', job_application %></td>
        <td><%= link_to 'Edit', edit_job_application_path(job_application) %></td>
        <td><%= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Application', new_job_application_path %>
