<% @job_applications.each do |job_application| %>
<div class ="applications">
 <% if @job_applications.length == 0 %>
<br/>
<h2>There are currently no applications</h2>
<% end %>
<% if pending_application(job_application) %>
   <h3><p><%= job_application.applicant_id %></p></h3>
                 <h3>  <%= job_application.id %></h3>
           <h3>  <%= job_application.job.title %></h3>
          
              <h3><p><%= job_application.applicant.name %></p></h3>
              <%= link_to 'View', job_application.applicant, :class => "button", :role => "button" %>
              <%= link_to 'Message', new_conversation_path(sender_id: job_application.job.user_id, recipient_id: job_application.applicant_id), method: "post", :class => "button", :role => "button" %>
              <%= button_to 'Accept', toggle_accept_job_job_application_path(job_application.job,job_application), remote: true, method: :post, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
              <%= button_to "Reject", [job_application.job,job_application], method: :delete, data: { confirm: 'Are you sure?' },  :class => "button", :role => "button"  %>
              </div>  
         <% end %>
 <% end %>
 <hr>
 <h1> Accepted </h1>
 <% @job_applications.each do |job_application| %>
        <% if job_application_is_accepted(job_application) %>
   <h3><p><%= job_application.applicant_id %></p></h3>
                 <h3>  <%= job_application.id %></h3>
           <h3>  <%= job_application.job.title %></h3>
              <h3><p><%= job_application.job.user.name %></p></h3>
              <%= link_to 'View', job_application.job.user, :class => "button", :role => "button" %>
              <%= link_to 'Message', new_conversation_path(sender_id: job_application.job.user_id, recipient_id: job_application.applicant_id), method: "get", :class => "button", :role => "button" %>
              <%=   link_to "Write Review", new_user_review_path(job_application.applicant), :class => "button", :role => "button"%>
              </div>  
         <% end %>
 <% end %>