<div id="jobs">

<br>
<% if ((user_is_admin) || (user_is_host)) %>
<%= link_to 'New Job Application', new_job_application_path, :class =>"button", :role=>"button" %>
<% end %>
<br>
<%=render 'layouts/search'%>
<br>
<%=render 'layouts/categories'%>
<br>
    <% @job_applications.each do |job_application| %>
    <div class="jobContainer">
    <div id="img">
        <% if job_application.images_url %>
    <%= link_to (image_tag job_application.images_url(:thumb)), job_application %>
    <% end %> 
    </div>
    <p class="text"><%= job_application.category %></p>
        <h1><%= link_to (job_application.title), job_application %></h1>
         <p> <%= job_application.description %></p>
         <p class="text"> <%= job_application.country %></p>
        <br>
        <br>      
        <div id="jobOption">   
        <% if ((user_is_admin) || (user_is_candidate)) %>
        <%= link_to 'Contact', "/",  :class => "button", :role => "button"  %>
        <%= link_to 'Apply', "/",  :class => "button", :role => "button"  %>
        <% end %>
  </div>
    </div>
    <% end %>
    <%= paginate @job_applications %>
</div>