<div class = "jobApplication">
<h1> Pending Applications </h1>
<br/>
<% if @pending_applications.length == 0%>
<div class="empty">
<h2> There are no pending applications </h2>
<%end%>
</div>
<% @pending_applications.each do |pending_application| %>
<div class ="applications">
   <h3><p><%= pending_application.applicant_id %></p></h3>
                 <h3>  <%= pending_application.id %></h3>
           <h3>  <%= pending_application.job.title %></h3>
              <h3><p><%= pending_application.applicant.name %></p></h3>
              <%= link_to 'View', pending_application.applicant, :class => "button", :role => "button" %>
              <%= link_to 'Message', new_conversation_path(sender_id: pending_application.job.user_id, recipient_id: pending_application.applicant_id), method: "get", :class => "button", :role => "button" %>
              <%= button_to 'Accept', toggle_accept_job_job_application_path(pending_application.job,pending_application), remote: true, method: :post, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
              <%= button_to "Reject", [pending_application.job,pending_application], method: :delete, data: { confirm: 'Are you sure?' },  :class => "button", :role => "button"  %>
              </div>           
 <% end %>
 <br>
 <hr>
 <h1> Accepted Applications</h1>
 <% if @accepted_applications.length == 0%>
   <div class="empty">
   <h2> There are no accepted applications </h2>
   </div>
 <% end %>

 <% @accepted_applications.each do |accepted_application| %>
          <div class ="applications">
               <h3><%= accepted_application.id %></h3>
               <h3><%= accepted_application.job.title %></h3>
               <h3><p><%= accepted_application.applicant.name %></p></h3>
               <%= link_to 'View', accepted_application.applicant, :class => "button", :role => "button" %>
               <%= link_to 'Message', new_conversation_path(sender_id: accepted_application.job.user_id, recipient_id: accepted_application.applicant_id), method: "get", :class => "button", :role => "button" %>
               <%= link_to "Write Review", new_user_review_path(accepted_application.applicant), :class => "button", :role => "button" %>
              </div>  
 <% end %>
 </div>