<div class="showJob">
<br>
    <h1><%= @job_application.title %></h1>
  <div id="img">
        <% if @job_application.images_url %>
    <%= image_tag @job_application.images_url(:default) %>
    <% end %> 
    </div>
<p>
  <div class="profiletext">
  <hr>
  <strong>Country:</strong>
  <%= @job_application.country %>
</p>
<hr>
</div>
<p>
  <div class="profiletext">
  <strong>Category:</strong>
  <%= @job_application.category %>
</p>
<hr>
</div>
<p>
  <div class="profiletext">
  <strong>Description:</strong><br>
  <%= @job_application.description %>
</p>
<hr>
</div>
  <div class="profiletext">
<p>
  <strong>Owner:</strong>
  <%= @job_application.user.name %>
</p>
<hr>
</div>
<% if ((user_is_admin) || (user_is_owner)) %>
<%= link_to 'Edit', edit_job_application_path(@job_application),  :class => "button", :role => "button"  %>
 <%= link_to 'Delete', @job_application, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
 <% end %>
 <%= link_to 'Back', job_applications_path,  :class => "button", :role => "button"  %>
</div>
</div>