<%= form_for ([@user,@review]) do |f| %>
  <div class="form-group">

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => @review.user_id %>

  <div class="field">
    <div id="star-rating"></div>
  </div>  

  <div class="field">
    <h3><%= f.label :comment %><br></h3>
    <%= f.text_area :comment, placeholder: "Comment" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
