<%= form_for ([@user,@review]) do |f| %>
  <div class="form">

  <%= f.hidden_field :user_id, :value => @review.user_id %>

  <div class="field">
    <div id="star-rating"></div>
  </div>  

  <div class="field">
    <h3><%= f.label :comment %><br></h3>
    <%= f.text_area :comment, class: "text-area", placeholder: "Comment" %>
  </div>
  <div id="submit">
    <%= f.submit %>
  </div>
  </div>
<% end %>
