<div class="slidesCon">
  <!-- Slideshow for home page -->
  <div class="slides fade">
  <div id="img">
    <%= image_tag ("hotel.jpeg"), style: 'width:100%;height:30vw;' %>
    </div>
    <div class="discoverText">Discover your next journey </div>
         <% if user_is_host %>
     <div class="discover-button"><%= link_to "Discover", "/candidates", class: 'slideLink' %></div>
     <% else %>
          <div class="discover-button"><%= link_to "Discover", "/jobs", class: 'slideLink' %></div>
      <% end %>
  </div>

  <div class="slides fade">
   <div id="img">
     <%= image_tag ("Cafe.jpeg"), style: 'width:100%;height:30vw;'%>
   </div>
     <div class="discoverText">Discover your next journey</div>
     <% if user_is_host %>
     <div class="discover-button"><%= link_to "Discover", "/candidates", class: 'slideLink' %></div>
     <% else %>
          <div class="discover-button"><%= link_to "Discover", "/jobs", class: 'slideLink' %></div>
      <% end %>
  </div>

  <div class="slides fade">
   <div id="img">
     <%= image_tag ("cocktail1.jpeg"), style: 'width:100%;height:30vw;' %>
     </div>
     <div class="discoverText">Discover your next journey</div>
          <% if user_is_host %>
     <div class="discover-button"><%= link_to "Discover", "/candidates", class: 'slideLink' %></div>
     <% else %>
          <div class="discover-button"><%= link_to "Discover", "/jobs", class: 'slideLink' %></div>
      <% end %>
  </div>

  <div class="slides fade">
   <div id="img">
     <%= image_tag ("kitchen.jpeg"),style: 'width:100%;height:30vw;' %>
     </div>
     <div class="discoverText">Discover your next journey</div>
         <% if user_is_host %>
     <div class="discover-button"><%= link_to "Discover", "/candidates", class: 'slideLink' %></div>
     <% else %>
          <div class="discover-button"><%= link_to "Discover", "/jobs", class: 'slideLink' %></div>
      <% end %>
  </div>
  <%= javascript_pack_tag 'slideshow'%>
</div>