<!DOCTYPE html>
<html>
  <head>
   <title> <%= yield(:title) %> FirstResort </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <% if notice %>
        <div id="notice">
        <p class="notice"><%= notice %></p>
        </div>
        <% elsif alert %>
        <div id="alert">
       <p class="alert"><%= alert %></p>
       </div>
       <% end %>
  <%= render 'layouts/header' unless hidden_header_footer %>
      <div class="container">
       <%= yield %>
       </div>
  <%= render 'layouts/footer' unless hidden_header_footer %>
  </body>
</html>
